@@{
    ViewData["Title"] = "Home Page";
}
<style>
    .getcolour {
        background-color: mediumpurple
    }</style>
<div class="text-center">
    <h1 class="display-6">&#10024 Welcome to your space &#10024 </h1>
    <p>Learn about yourself from the stars</p>
    <a class="btn btn-primary" href="@Url.Action("Horoscope","Horoscope","HoroscopeController")">Start</a>
</div>
